html,
body {
  font-family: "Lora", serif;
  color: #001f39;
  font-size: 17px;
  display: block;
  width: 100%;
  max-width: 600px;
  margin: auto;
}
body svg {
  fill: #001f39 !important;
}
body > div.content-wrapper {
  min-height: calc(100vh - 75px);
  margin: auto;
  padding: 0 15px;
  width: calc(100% - 30px);
  display: inline-block;
}
body > div.footer {
  width: calc(100% - 35px);
  margin: auto;
  margin-top: 20px;
  height: 40px;
  padding-top: 10px;
  font-size: 0.9rem;
  border-top: 1px dashed #001f39;
}

p {
  line-height: 23px;
  font-size: 1rem;
}

a {
  color: #001f39;
  padding: 0;
}
a:hover {
  background-color: rgb(255, 249, 221);
  border-radius: 4px;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.15rem;
}

/* home */
h1.home {
  margin-top: 65px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #001f39;
}
@media screen and (min-width: 0px) and (max-width: 600px) {
  h1.home {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li,
.date-and-rating {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

ul li .title {
  flex-grow: 1;
}
ul li .title h2 {
  font-size: 1rem;
  padding: 0;
}
ul li .date em {
  padding-right: 25px;
  font-size: 0.9rem;
  font-style: normal;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  ul li {
    flex-direction: column;
    align-items: flex-start;
  }
  .date-and-rating {
    width: 100%;
    justify-content: space-between;
    font-size: 0.9rem;
  }

  ul li .title h2 {
    margin: 20px 0 3px;
  }

  ul li .date em {
    font-size: 0.8rem;
  }
}

.rating-system p {
  margin: 0;
  padding: 0;
}
.rating-system {
  width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.rating-system {
  margin: 0;
}
.rating-system svg {
  height: 16px;
  width: 16px;
  margin: 0 1px;
}
.footer {
  bottom: 0;
}

/* Page Bouquin */
.menu {
  font-size: 0.8rem;
  margin: 40px 0 0 0;
}

.sub-header {
  display: flex;
  font-size: 0.9rem;
  border-top: 1px solid #001f39;
  border-bottom: 1px solid #001f39;
  align-items: center;
  padding: 5px 0;
  margin-bottom: 30px;
}

.author {
  font-style: italic;
  flex-grow: 1;
}
h1.bouquin {
  margin-top: 20px;
  border-top: 2px solid #001f39;
  margin-bottom: 20px;
}

.content p {
  font-size: 0.9rem;
}
