---
layout: shape.liquid
---

<div class="menu"><a href="/">← retour à la liste</a></div>
<h1 class="bouquin">{{ title }}</h1>
<div class="sub-header">
  <div class="author">
    {% if author %}
      de {{ author }}
    {% endif %}
    {% if playtime %}
      ~ {{ playtime }}
    {% endif %}
  </div>
  <div class="rating-system">
    {% for rate in (1..5) %} {% if rate <= rating %}
    {% endif %} {% endfor %}
  </div>
</div>
<div class="content">
  {{ content }}
</div>
